/* General styles for dark mode */
body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.dark body {
  background-color: #2a2a2a; /* Lighter dark background */
  color: #e0e0e0; /* Slightly off-white text for reduced glare */
}

.dark .bg-white {
  background-color: #3c3c3c; /* Lighter dark mode background for white elements */
}

.dark .text-gray-700 {
  color: #d1d1d1; /* Softer light text for dark mode */
}

.dark .text-gray-600 {
  color: #b0b0b0; /* Lighter text for dark mode */
}

/* Additional styles for form elements */
.dark input {
  background-color: #4a4a4a; /* Lighter dark input background */
  color: #e0e0e0; /* Light text in inputs */
}

.dark input::placeholder {
  color: #b0b0b0; /* Softer placeholder color in dark mode */
}

@keyframes spin-fast {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-fast {
  animation: spin-fast 0.7s cubic-bezier(0.5, 0, 0.5, 1) infinite; /* Non-linear timing function */
}
